<div class="flex gap-2 justify-center mt-4 ">
  <.link navigate={~p"/admin/post/new"}>
    <div class="rounded-lg px-2 py-4 bg-brand">Create a post</div>
  </.link>
  <.link navigate={~p"/admin/users"}>
    <div class="rounded-lg px-2 py-4 bg-brand">Handle users</div>
  </.link>
</div>
